# Python cache og bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# MLflow-tracking-logs
mlruns/

# Miljøfiler og secrets
.env
*.env

# Data
data/
*.csv
*.tsv
*.xlsx

# Docker logfiler
*.log

# Jupyter
.ipynb_checkpoints/

# IDE-filer (fx VSCode eller PyCharm)
.vscode/
.idea/

# OS-specifikke filer
.DS_Store
Thumbs.db